<%- include ('public/views/header'); -%>

<div>
    <div class="grid-container fluid">
        <div class="grid-x grid-padding-x black">
            <div class="small-12 cell text-center" id="photonPic">
                <img src="public/images/photon.png" alt="photon image">
            </div>
        </div>
        <br>
        <div class="grid-x grid-padding-x black">
            <div class="small-12 cell text-center">
                <h5><strong>Upload File</strong></h5>
            </div>
        </div>
    </div>
</div>
<br>
<form id="uploadForm" action="/file-upload" class="dropzone" id="fileupload-dropzone">
    <div class="grid-container fluid">
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell">
                <input type="file" name="fileUpload" id="fileUpload" accept=".csv" class="dropzone" aria-label="upload file">
            </div>
        </div>
        <br>
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell">
                <h4 class="text-center" id="resultText">&nbsp;</h4>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell">
                <input type="button" class="button expanded" value="Upload File" id="uploadFileButton">
            </div>
        </div>
    </div>
</form>

<div class="grid-container fluid">
    <div id="installBanner">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell small-12 large-12 text-center">
                <input type="submit" class="button large expanded bdh-btn" id="installButton" value="Install to Homescreen">
            </div>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<script src="public/javascripts/dropzone.js" type="module"></script>
<script src="public/javascripts/main.js" type="module"></script>

<%- include ('public/views/footer'); -%>